body {
    line-height:24px;
    font-size:14px;
    font-family:"Georgia", "Times New Roman", Times, serif;
}

h1, h2 {
    margin:20px 0;
    text-align:left;
    font-size:1.8em;
}

h2 {
    font-size:1.5em;
}

p {
    margin:15px 0;
    text-align:justify;
}

a {
    color:#008;
}

a:hover {
    color:#44b;
}

#page {
    margin:0 auto 50px auto;
    width:600px;
}

.viewport {
    position:relative;
    overflow:hidden;
    height:150px;
    background:#fff;
}

.viewport ul,
.viewport img {
    position:absolute;
}

.viewport ul {
    width:100%;
}

.viewport li {
    display:block;
    padding-left:5px;
    line-height:30px;
}

.scrolla-x,
.scrolla-y {
    position:absolute;
    background:#000;
    border-radius:2px;
    opacity:0.7;
}

.scrolla-x {
    bottom:0px;
    height:10px;
}

.scrolla-y {
    right:0px;
    width:10px;
}

section {
    position:relative;
    margin-bottom:15px;
    line-height:18px;
    border:1px solid #aaa;
    background:#f9f9f9;

    -webkit-box-shadow:0 0 5px #eee;
    -moz-box-shadow:0 0 5px #eee;
    box-shadow:0 0 5px #eee;

    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
}

pre, abbr {
    font-family:Monaco, Consolas, "Lucida Console", monospace;
    font-size:12px;
}

pre {
    margin:10px;
}

abbr {
    position:absolute;
    right:3px;
    top:0;
    font-size:9px;
    color:#aaa;
}